@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";

$custom-control-indicator-size:                 px-to-rem( 26px );
$custom-control-gutter:                         px-to-rem( 18px );
$custom-control-indicator-border-color:         $input-border-color;

$custom-control-indicator-disabled-bg:          $input-disabled-bg;
$custom-control-label-disabled-color:           $gray-400;

$custom-control-indicator-checked-color:        $dark;
$custom-control-indicator-checked-bg:           $white;
$custom-control-indicator-checked-disabled-bg:  rgba( $custom-control-indicator-checked-bg, .5 );
$custom-control-indicator-checked-box-shadow:   0 0 0 1px $input-border-color;
$custom-control-indicator-checked-border-color: $input-border-color;

$custom-control-indicator-active-color:         $component-active-color;
$custom-control-indicator-active-bg:            rgba($custom-control-indicator-checked-bg, .35);
$custom-control-indicator-active-box-shadow:    none;
$custom-control-indicator-active-border-color:  $custom-control-indicator-checked-border-color;

$custom-checkbox-indicator-icon-checked:        str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpath fill='transparent' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='#{$custom-control-indicator-checked-color}' d='M10 1L4 7L1 4'/%3e%3c/svg%3e"), "#", "%23");

$custom-radio-indicator-icon-checked:           str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'%3e%3ccircle r='3' fill='#{$custom-control-indicator-checked-color}'/%3e%3c/svg%3e"), "#", "%23");

$custom-switch-indicator-border-radius: $rounded-pill;
$custom-switch-width: px-to-rem( 60px );
$custom-switch-indicator-size: $custom-control-indicator-size;

@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/custom-forms";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/input-group";

// Base style
label {
	font-size: $label-font-size;
	cursor: pointer;
}

.form-group {
	position: relative;
	text-align: left;
	margin-bottom: 0;
}

.form-control {
	text-overflow: ellipsis;
	border: none;
	border-radius: 0;
	border-bottom: $input-border-width solid $input-border-color;

	.has-error & {
		border-color: $danger;
	}
}

.form-control-inline {
	display: inline-block;
	text-align: center;
	width: auto;
}

.form-group + .form-group {
	margin-top: 12px;
}

.input-group {
	> .form-control,
	> .form-control-plaintext,
	> .custom-select,
	> .custom-file {
		height: auto;
	}
}

@include media-breakpoint-up( md ) {
	.form-group + .form-group {
		margin-top: 22px;
	}
}


// Reset mozila validation styles
:invalid {
	box-shadow: none;
}

:-moz-submit-invalid {
	box-shadow: none;
}

:-moz-ui-invalid {
	box-shadow:none;
}


// Disabled form group
.form-group-disabled {
	pointer-events: none;

	.form-control {
		background-color: $input-disabled-bg;

		&::placeholder {
			opacity: .3;
		}
	}

	label {
		opacity: .3;
	}

	.input-group-text {
		&:before {
			opacity: .3;
		}
	}
}


// form inline
.form-inline-custom {
	.form-control {
		padding-right: 100px;
	}
	
	.btn {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	
}


// input context dark
.context-dark {
	.form-validation {
		color: $white;
	}
	.form-control {
		color: $white;
		border-color: $gray-700;
		
		&::placeholder {
			color: $gray-400;
		}
		
		&:focus {
			background: transparent;
			border-color: $white;
			box-shadow: 0px -1px 0px 0px $white inset;
		} 
	}
}
