// Mixins
@mixin bg-variant($parent, $color) {
	#{$parent} {
		background-color: $color;
	}
	a#{$parent},
	button#{$parent} {
		@include hover-focus {
			background-color: darken($color, 10%);
		}
	}
}

@mixin bg-gradient-variant($parent, $color) {
	#{$parent} {
		background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x;
	}
}

@mixin bg-adjacent() {
	&:not([style*='background-']) + &:not([style*='background-']) {
		padding-top: 0;
	}
}

// Color background
.bg-white {
	background-color: $white;
}

.bg-primary {
	background-color: $primary;
}

.bg-dark {
	background-color: $dark;
}

.bg-gray-100 {
	background-color: $gray-100;
}

// Transparent background
.bg-transparent {
	@include bg-adjacent();
}


// Image background
.bg-image {
	background-position: center center;
	background-size: cover;
}


// Background layer
.section-layer {
	&,
	.container {
		position: relative;
	}
}

.bg-layer {
	&:before {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	
}
.bg-layer-gradient {
	&:after {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background:  linear-gradient(180deg, rgba($dark, 0.8) 0%, rgba($dark, 0) 49.92%);
		z-index:-1;
	}
}

.bg-layer-dark:before{
	background-color: rgba($dark, .7);
}
