@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";


// Base
.rights {
	font-size: px-to-rem( 14px );
}

.rights-link {
	font-weight: 400;
	color: $primary;

	&:hover {
		color: $dark;
	}
}


// Contexts
.context-dark {
	.rights-link {
		color: $white;

		&:hover {
			color: $primary;
		}
	}
}
