.rights {
  font-size: 0.875rem; }

.rights-link {
  font-weight: 400;
  color: #febd22; }
  .rights-link:hover {
    color: #0C0D1F; }

.context-dark .rights-link {
  color: #fff; }
  .context-dark .rights-link:hover {
    color: #febd22; }
